section{
    margin-top: -40em;
    
}


.custom-warning-button {
  background-color: #ffc107;
  color: black; /* pour une bonne lisibilité */
}

.custom-warning-button:hover {
  background-color: rgb(247, 183, 51); /* couleur au survol */
}
