<app-header2></app-header2>
<app-dash-admin></app-dash-admin>
<body class="lolo outer ">
<div class="container-fluid py-4">
    <div class="row table-small" >
      <div class="col-12 panell" style="margin-left: 18em;">
        <div class="card my-4">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="background shadow-primary border-radius-lg pt-4 pb-3">
              <h3 class="text-white text-capitalize ps-4 copperplate-title"><b>Tableau des dispatcheurs</b></h3>
            </div>
          </div>
          <div class="card-body px-0 pb-2">
            <div class="table-responsive p-0" >
              <table class="table align-items-center mb-0">
                <thead>
                  <tr class="table-header">
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">ID</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Email</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">First Name</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Last Name</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Password</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Username</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Action</th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let elt of alladmins">
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">{{ elt.id }}</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">{{ elt.email }}</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <h6 class="mb-0 text-sm">{{ elt.firstname }}</h6>
                      </td>
                      <td>
                        <h6 class="mb-0 text-sm">{{ elt.lastname }}</h6>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <h6 class="mb-0 text-sm">{{ elt.password }}</h6>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <h6 class="mb-0 text-sm">{{ elt.username }}</h6>
                      </td>
                      <td class="align-middle">
                        <button class="background" >Delete</button>
                      </td>
                    </tr>
                  </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </body>