<app-header2></app-header2>

<section class="service_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2 class="lo">
          Types Produits
        </h2>

        <br><br><br><br>
      </div>
      <div class="row">
        <div class="col-lg-4" *ngFor="let elt of allTypeProduits">
          <div class=" b1 lo">
            
            <div class="detail-box">
              
              <h3>
                &nbsp;*&nbsp;<b>Type de produit : </b> <span>{{ elt.name }}</span>
              </h3>
              <h3>
                &nbsp;*&nbsp;<b>Décription de Type  : </b><span>{{ elt.description }}</span>
              </h3>
              <h3>
                &nbsp;*&nbsp;<b>Date de Type : </b><span>{{ elt.date | date: 'dd/MM/yyyy' }}</span>
              </h3>
                <br>
                <button class="single_page_btn btn btn-outline-warning mx-9" 
                (click)="viewProduitsByType(elt.id)">
                <i class="fas fa-sign-in-alt"></i>
        </button>
        
            </div>
            

          </div>

                  
            </div>
            
          </div>
        </div>
        
     

  </section>




